<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Assani3 - 3D Printing Service</title>

	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<link rel="stylesheet" href="css/progressButtons.css">

	<style>
		body{
			margin: 10px 0;
			text-align: center;
		}

		.blink_me {
			animation: blinker 1s linear infinite;
		}

		@keyframes blinker {  
			50% { opacity: 0.5; }
		}

		#file-input{display: none;}
	</style>
</head>
<body>

	<div class="fluid-container">
		<a id="progressButton" href="#" class="progress-button">Fichier .STL</a>
		<input id="file-input" type="file" hidden>
		<div class="row">
			<div class="col-md-6">
				<div class="table-responsive">
					<table class="table table-bordered">
							<tbody class="">
							<tr>
								<th>Dimensions :</th>
								<th id="dimension"></th>
							</tr>
							<tr>
								<th>Surface Area :</th>
								<th id="surface"></th>
							</tr>
							<tr>
								<th>Estimated Print Time :</th>
								<th id="time"></th>
							</tr>
							<tr>
								<th>Estimated Weight :</th>
								<th id="weight"></th>
							</tr>
						</tbody>
					</table>
				</div>				
			</div>
			<div class="col-md-6">
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="js/progressButtons.js"></script>
	<script>
	$(document).ready(function(){
		var $uploadInput = $('#file-input'),
			$progressButton = $("#progressButton");

		var $time = $("#time"),
			$weight = $("#weight"),
			$dimension = $("#dimension"),
			$surface = $("#surface");


		$progressButton.progressInitialize();
		$progressButton.on('click', function (){
			$uploadInput.click();
			// reset progress bar
			$progressButton.progressSet(0);
		});

		$uploadInput.on('change', function(){
			var files = $(this).get(0).files;

			if (files.length > 0){
				var formData = new FormData();

				formData.append('file', files[0], files[0].name);
				$.ajax({
					url: '/upload',
					type: 'POST',
					data: formData,
					processData: false,
					contentType: false,
					success: function(data){
						$progressButton.removeClass("blink_me");
						data = JSON.parse(data);
						console.log(data);

						$time.html(data.time);
						$weight.html(data.weight + " g");
						$dimension.html(data.dimension);
						$surface.html(data.surface + "mm^2");
					},
					xhr: function() {
						// create an XMLHttpRequest
						var xhr = new XMLHttpRequest();

						xhr.upload.addEventListener('progress', function(evt) {

							if (evt.lengthComputable) {
								// calculate upload percentage
								var percent = evt.loaded / evt.total;
								percent = parseInt(percent * 100);

								// update progress bar
								$progressButton.progressSet(percent);

								if (percent === 100) {
									$progressButton.html('Slicing');
									$progressButton.addClass("blink_me");
								}

							}

						}, false);

						return xhr;
					}
				});
			}
		});

		});
	</script>

</body>
</html>